<% layout('company_layout') %>

  <div class="form-group">
        <a href="#add-candidate-modal" role="button" class="btn btn-default btn-primary" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span>&nbsp;New Invite</a>
  </div>

  <div class="modal fade" id="add-candidate-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">            
        <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel">
            New Invite
          </h4>
        </div>
        <div class="modal-body">
          <div class="col-md-12 column">
            <form role="form">
              <div class="form-group">
                 <label for="wrs-enroll-email">Candidate Email</label><input type="email" class="form-control" id="wrs-enroll-email" />
              </div>
              <div class="form-group">
                <label for="wrs-enroll-complex">Problem Difficulty</label>
                <select class="form-control" id="wrs-enroll-complex">
                  <option>Random</option>   
                  <option>Easy</option>
                  <option>Moderate</option>
                  <option>Hard</option>                   
                </select>
              </div>
              <div class="form-group problem-selector-dropdown" id='problem-selector-easy' style="display:none">
                <label for="wrs-enroll-problem-easy">Select Problem</label>
                <select class="form-control" id="wrs-enroll-problem-easy">        
                	<option>Random</option>      
                	<% for(var i=0; i<EASY_PROBLEMS.length; i++) { %>
                		<option><%= EASY_PROBLEMS[i].name %> [<%= EASY_PROBLEMS[i].id %>]</option>
                	<% } %>
                </select>
              </div>
              <div class="form-group problem-selector-dropdown" id='problem-selector-moderate' style="display:none">
                <label for="wrs-enroll-problem-moderate">Select Problem</label>
                <select class="form-control" id="wrs-enroll-problem-moderate">            
                <option>Random</option>
                    <% for(var i=0; i<MODERATE_PROBLEMS.length; i++) { %>
                		<option><%= MODERATE_PROBLEMS[i].name %> [<%= MODERATE_PROBLEMS[i].id %>]</option>
                	<% } %>       
                </select>
              </div>
              <div class="form-group problem-selector-dropdown" id='problem-selector-hard' style="display:none">
                <label for="wrs-enroll-problem-hard">Select Problem</label>
                <select class="form-control" id="wrs-enroll-problem-hard">     
                <option>Random</option>
                    <% for(var i=0; i<HARD_PROBLEMS.length; i++) { %>
                		<option><%= HARD_PROBLEMS[i].name %> [<%= HARD_PROBLEMS[i].id %>]</option>
                	<% } %>                 
                </select>
              </div>
              <div class="form-group">
                 <label for="wrs-enroll-valid">Expiry Date</label><input type="date" class="form-control" id="wrs-enroll-valid" />
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> 
           <button type="button" class="btn btn-success" id="send-invite-btn" data-dismiss="modal"><span class="glyphicon glyphicon-send"></span>&nbsp;Send Invite</button>
        </div>
      </div>
      
    </div>
    
  </div>

  <p class="lead">Previous Invites</p>
  <hr/>
  
  <table class="table table-bordered table-hover table-striped table-condensed">
    <thead>
      <tr> <th> ID </th> <th> Email </th> <th> Problem Name </th> <th> Difficulty Level </th> <th> Status </th> <th> Sent On </th> <th> Valid Till </th> </tr> 
      </thead> 
      <tbody>
     	<% for(var i=0; i<INVITES.length; i++) { %>
     		<tr class="<%= (INVITES[i].status == 'EXPIRED' ? 'danger' : (INVITES[i].status == 'ATTEMPTED' ? 'success' : '')) %>">
     			<td><a href='/candidate?id=<%= INVITES[i].objectId %>' target='_blank'><%= INVITES[i].objectId %></a></td>
     			<td><%= INVITES[i].email %></td>
     			<td><a class='problem-link' href='#' data-problem-id='<%= INVITES[i].problemId %>'><%= INVITES[i].problemName %></a></td>
     			<td><%= INVITES[i].problemDifficultyLevel %></td>
     			<td><%= INVITES[i].status %></td>
     			<td><%= INVITES[i].sentOn %></td>
     			<td><%= INVITES[i].validTill %></td>
     		</tr>
     	<% } %>
      </tbody>
  </table>

 <script>
 $('#wrs-enroll-complex').change(function(){
 	var complex = $(this).val();
 	console.log("Difficulty changed to: "+complex);
 	$('.problem-selector-dropdown').hide();
 	if(complex != "Random") {
 		$('#problem-selector-'+complex.toLowerCase()).show();	
 	}
 })
 $('#send-invite-btn').click(function(){
 	var email = $('#wrs-enroll-email').val();
 	var complex = $('#wrs-enroll-complex').val();
 	var problem = null;
 	if(complex != "Random") {
 		problem = $('#problem-selector-'+complex.toLowerCase()).val();
 	}
 	var expiry = $('#wrs-enroll-valid').val();
 	var nonNullComplex = ["EASY","MODERATE","HARD"].filter(function(x){return $('#problem-selector-'+x.toLowerCase()+' option').length>1});
 	console.log(nonNullComplex);

 	// randomize complexity if needed
 	complex = (complex == "Random") ? (nonNullComplex)[parseInt(Math.random()*nonNullComplex.length)] : complex;

 	// randomize problem if needed
 	problem = (problem == "Random" || problem == null || problem == '') ? $('#problem-selector-'+complex.toLowerCase()+' option').map(function(){return $(this).text() }).filter(function(){return this!="Random"}) : problem;

 	problem = (typeof(problem) == "string") ? problem : problem[parseInt(Math.random()*problem.length)];

 	console.log(problem);
 	console.log(complex);

 	problemName = problem.split("[")[0].slice(0,-1);
 	problemId = problem.split("[")[1].slice(0,-1);
 	WRS.sendInvite(email, complex, problemId, problemName, expiry);

 });
 </script>
