
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>WebRock<span class="glyphicon glyphicon-star"></span></title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <link href="/css/alertify.core.css" rel="stylesheet">
    <link href="/css/alertify.bootstrap.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    <script src="http://www.parsecdn.com/js/parse-1.2.12.min.js"></script>
    
    <script>
      Parse.initialize("J5v0o2xUAaXvxziD26kzLauhmu6oajOKCmnwUMMw", "xwSgobbHKVUjQxUQ8BmsUWJWfCLM5DP5KRtrpo3C");
    </script>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>  
    <script src="/js/alertify.js"></script>
    <script src='/js/jquery.dataTables.min.js'></script>

    <script src="/wrs/wrs.ui.js"></script>
    <script src="/wrs/wrs.core.js"></script>

    <script>
    var WRS;
    $(document).ready(function(){
      WRS = new _WRS_CORE();

      // Login button
      $('#wrs-sign-in').click(function(){
        var user = $('#wrs-email').val();
        var password = $('#wrs-password').val();

        WRS.login(user, password, function(){
          $("#login-panel").hide();
          $("#logout-panel").show();
          $("#company-panel").show();
        });
      });

      // Register button
      $('#wrs-sign-up').click(function(){
        var user = $('#wrs-email').val();
        var password = $('#wrs-password').val();

        WRS.register(user, password);
      });

      // Logout button
      $('#wrs-logout').click(function(){
        WRS.logout();
        $('#logout-panel').hide();
        $('#login-panel').show();
        $("#company-panel").hide();
      });

    });
    </script>

  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">&lt;Web&gt;RockStar</a>
        </div>

        <div class="navbar-collapse collapse">
 
           <ul id="company-panel" class="nav navbar-nav" style="<%= (COMPANY_USER == null ? 'display:none':'') %>">
            <li <%- (PAGE == 'company_problems' ? 'class="active"' : '') %>><a href="/company/problems"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Create Problem</a></li>
            <li <%- (PAGE == 'company_invites' ? 'class="active"' : '') %>><a href="/company/invites"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Send Invites</a></li>
            <li <%- (PAGE == 'company_analytics' ? 'class="active"' : '') %>><a href="/company/analytics"><span class="glyphicon glyphicon-stats"></span>&nbsp;Analyze Results</a></li>
           </ul>

          <div id="login-panel" class="navbar-form navbar-right" style="<%= (COMPANY_USER != null ? 'display:none':'') %>">
            <div class="form-group">
              <input id='wrs-email' type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input id='wrs-password' type="password" placeholder="Password" class="form-control">
            </div>
            <button id="wrs-sign-in" class="btn btn-success"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Sign In</button>
            or
            <button id="wrs-sign-up" class="btn btn-info">Sign Up</button>
          </div>

          <div id="logout-panel" class="navbar-form navbar-right" style="<%= (COMPANY_USER == null ? 'display:none':'') %>">
            <button id="wrs-logout" class="btn btn-danger"><span class="glyphicon glyphicon-off"></span>&nbsp;Logout</button>
          </div>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </div>
   
    <div class="container" style="margin-top:20px">
      <%- body %>
    </div>

  <div id='problem-view-modal' class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="problem-title"></h4>
      </div>
      <div class="modal-body">
      <p class="lead">Description</p>
      <div class="problem-desc">
      </div>
      <hr/>
      <p class="lead">Constraints</p>
      <div class="problem-constrains">
      </div>
      <hr/>
      <p class="lead">Examples</p>
      <div class="problem-examples">
      </div>
    </div>
      <div class="modal-footer">
        <button type="button" id='problem-detail-btn' class="btn btn-primary">View Template/Testcases&nbsp;<span class="glyphicon glyphicon-forward"></span></button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  $('.problem-link').click(function(){
    WRS.showProblem($(this).data('problem-id'), '#problem-view-modal');
  });
  $('#problem-detail-btn').click(function(){
    location.href = "/problem?id=" + $(this).parents('#problem-view-modal').data('problem-id');
  });
</script>

  </body>
</html>
