
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    
    <!-- Codemirror -->
    	<link rel="stylesheet" href="/css/codemirror.css">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
  	
  	<div id='problemDesc'>
  		<%= probDesc %>
  	</div>
  	<div id='solution'>
  	<ul id='fileList'>
  	<%
  	var printFile = function(fl){
  		%>
  		<li data-wrs-mime=<%= fl.mime %> data-wrs-content="<%= fl.contents %>" data-wrs-editable="<%= fl.editable %>" >
  			<%= fl.name %>
  		</li><%
  	}; 
  	var printFolder = function(fl){
  		%><ul><%
  		fl.forEach(function(v,i){
  			if(v.type == 'folder'){
  				%><li><%= fileList[f].name %></li><li><% 
  				printFolder(v.children);
  				%></li><%
  			}else{
  		printFile(v);
  		}
  		});
  		%></ul><%
  	}
  	for(var f in fileList){
  		if(fileList[f].type == 'folder'){
  			%><li><%= fileList[f].name %></li><li><% 
  			printFolder(fileList[f].children);
  			%></li><%
  		} else {
  			printFile(fileList[f]);
  		}
  	}
  	 %>
  	 </ul>
  	 <textarea id='codeEditor'>
  	 	Please select a file to open
  	 </textarea>
  	</div>
      <footer>
        <p>&copy; Company 2013</p>
      </footer> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/codemirror.min.js"></script>
    <!-- <script src="/js/codemirror.modes.js"></script> -->
    <!-- <script src="/js/codemirror.addons.js"></script> -->
    <script src="/js/candidate.js"></script>
  </body>
</html>
