<% layout('layout') -%>
  	
  	<div id='problemDesc'>
  		<%= probDesc %>
  	</div>
  	<div id='solution'>
  	<ul id='fileList'>
  	<%
  	var printFile = function(fl){
  		%>
  		<li data-wrs-ext=<%= fl.ext %> data-wrs-content="<%= fl.contents %>" data-wrs-editable="<%= fl.contents %>" >
  			<%= fl.name %>.<%= fl.ext %>
  		</li><%
  	}; 
  	var printFolder = function(fl){
  		%><ul><%
  		fl.forEach(function(v,i){
  			if(v.type == 'folder'){
  				%><li><%= fileList[f].name %></li><li><% 
  				printFolder(v.children);
  				%></li><%
  			}else{
  		printFile(v);
  		}
  		});
  		%></ul><%
  	}
  	for(var f in fileList){
  		if(fileList[f].type == 'folder'){
  			%><li><%= fileList[f].name %></li><li><% 
  			printFolder(fileList[f].children);
  			%></li><%
  		} else {
  			printFile(fileList[f]);
  		}
  	}
  	 %>
  	 </ul>
  	 <textarea id='codeEditor'>
  	 	Please select a file to open
  	 </textarea>
  	</div>
